---
layout: page
description: "いらっしゃいませ！"
---

<embed src=//music.163.com/outchain/player?type=2&id=774472&auto=1&height=66 width=310 height=66 type=audio/mpeg loop="true" autostart="true">

<link rel="stylesheet" href="//unpkg.com/gitalk/dist/gitalk.css">
<script src="//unpkg.com/docsify/lib/plugins/gitalk.min.js"></script>
<script src="//unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
    const gitalk = new Gitalk({
        // 这个需要在github上申请一个OAuth application
        clientID: '6a4b36184be142a901c6',   // GitHub Application Client ID
        clientSecret: '0a8eeb61667199c3b21adb80b22695c002b99496',   // GitHub Application Client Secret
        repo: 'blog-img-Comment', // //存储你评论 issue 的 Github 仓库名
        owner: 'ZIK',
        admin: ['ZIK'],    // 这个仓库的管理员
        distractionFreeMode: true,  // 是否添加全屏遮罩
        id: window.location.pathname    // 页面的唯一标识，gitalk 会根据这个标识自动创建的issue的标签,我们使用页面的相对路径作为标识
    })
    gitalk.render('gitalk-container');    // 渲染Gitalk评论组件
</script>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
